<!DOCTYPE html>
<html>
 <head>
  <title>Service Fusion Person Application</title>
  <script src="static/js/vendor/modernizr.js"></script>
  <link href="static/css/foundation.min.css" rel="stylesheet">
 </head>
 <body>
  <div class="contain-to-grid sticky">
   <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large"> 
    <ul class="title-area">
     <li class="name">
      <h1><a href="#">Person App</a></h1>
     </li>
     <li class="toggle-topbar menu-icon">
      <a href><span>Menu</span></a>
     </li>
    </ul>
    
    <section class="top-bar-section">
     <ul class="right">
      <li class="divider"></li>
      <li><a href="#" data-reveal-id="add_person_modal">+ Person</a></li>
     </ul>
    </section>
   </nav>
  </div>
  <br />
  <div id="add_person_modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
   <br />
   <form id="add_person">
    <div class="row">
     <div class="large-5 columns">
      <label>First Name
       <input type="text" name="first_name" />
      </label>
     </div>
     <div class="large-6 columns">
      <label>Last Name
       <input type="text" name="last_name" />
      </label>
     </div>
    </div>
    <div class="row">
     <div class="small-12 columns">
      <div class="row">
       <div class="small-3 columns">
        <label for="birthday" class="right inline">Birthday</label>
       </div>
       <div class="small-9 columns">
        <input type="date" name="birthday" class="ui-datepicker" />
       </div>
      </div>
     </div>
    </div>
    <div class="row">
     <div class="small-12 columns">
      <div class="row">
       <div class="small-3 columns">
        <label for="zipcode" class="right inline">Zipcode</label>
       </div>
       <div class="small-9 columns">
        <input type="number" name="zipcode" />
       </div>
      </div>
     </div>
    </div> 
    <div class="right">
     <button type="submit">Add</button>
     <button type="reset">Clear</button>
    </div>
   </form>
   <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
  <div class="row">
   <div class="small-3 small-centered columns">
    <table role="grid">
     <thead>
      <tr>
       <th width="200">Name</th>
       <th width="100">Birthday</th>
       <th width="70">Zipcode</th>
      </tr>
     </thead>
     <tbody>
     </tbody>
    </table>
   </div>
  </div>
  <script src="static/js/vendor/jquery.js"></script>
  <script src="static/js/vendor/fastclick.js"></script>
  <script src="static/js/foundation.min.js"></script>

  <script>
   $(document).foundation();
   
   var f = document.getElementById("add_person"),
       url = "/api/person",
       person_data = [];

   f.addEventListener("submit", function(e) {
    e.preventDefault();
    var data = {
     first_name: f.elements['first_name'].value,
     last_name: f.elements['last_name'].value,
     birthday: f.elements['birthday'].value,
     zipcode: f.elements['zipcode'].value
    }

    $.ajax({
     dataType: "json",
     contentType: "application/json",
     url: url,
     method: "POST",
     data: JSON.stringify(data)
    })
    .done(function(resp) {
     $('#add_person_modal').foundation('reveal','close');
     person_data.push(data);
     update_table([data]);
    });
   });

   function load_person_data() {
    $.ajax({
     url: url
    })
    .done(function(resp) {
     person_data = JSON.parse(resp);
     $("table > tbody").html("");
     update_table();
    });
   }

   function update_table(rowData) {
    rowData = rowData || person_data;
    console.log(rowData);
    rowData.forEach(function(element, index, array) {
     var row = "<tr><td>" + element.first_name + " " + element.last_name + "</td><td>" + element.birthday + "</td><td>" + element.zipcode + "</td></tr>";
     $('table > tbody:last-child').append(row);
    });
   }

   window.onload = load_person_data()
  </script>
 </body>
</html>
